.movieCard {
    list-style: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.movieImg {
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    transition: color 0.3s ease;
    
}

@media (max-width:560px) {
    .movieImg{
        width: 90%;
        height: auto;
    }
}

.movieTitle {
    color: rgb(255, 255, 255) ;
    
    cursor: pointer;
}

.movieTitle:hover {
    color: rgb(0, 0, 0);
}
.backColor {
    background-color: rgb(39, 121, 245);
    border-radius: 10px;
}

.backColor:hover{
    background-color:tomato;
}